@model IEnumerable<GoldLeadsMedia.Web.Models.CoreApiResponses.GetApiLandingPagesLandingPage>

@foreach (var landingPage in Model)
{
    <div>
        <label><input name="LandingPageIds" type="checkbox" value="@landingPage.Id">@landingPage.Name</label>
    </div>
}