<section class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>All rights reserved <span>© Gold Leads Media 2020</span></p>
            </div>
        </div>
    </div>
</section>