<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Gold leads media</title>
    @*<meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">*@

    @*<link rel="manifest" href="~/Content/site.webmanifest">*@
    @*<link rel="apple-touch-icon" href="#">*@
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/mobile_xs.css">
    <link rel="stylesheet" href="~/css/mobile_sm.css">
    <link rel="stylesheet" href="~/css/mobile_md.css">
    <link rel="stylesheet" href="~/css/mobile_lg.css">
    @*<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />*@
    <link rel="stylesheet" href="~/css/main.css">

    @*<meta name="theme-color" content="#fafafa">*@
</head> 
<body>
    <section class="main-content m-3">
        @RenderBody()
    </section>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>*@
    <script src="~/lib/bootstrap/bootstrap.js"></script>
    <script src="~/lib/bootstrap/bootstrap.bundle.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/main.js"></script>
    @*<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>*@
    @*<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>*@
    @RenderSection("Scripts", false)
</body>
</html> 
