@model GoldLeadsMedia.Web.Models.ViewModels.OffersDashboardOffer

<a data-toggle="tab" class="nav-item @(Model.IsFirst == true ? "active" : null) nav-link group-filter" data-group-id="@Model.Id" href="#">@Model.Name</a>
