@model GoldLeadsMedia.Web.Models.InputModels.AdministratorsAssignLandingPagesToOffersInputModel

<div class="row">
    <div class="col-4">
        <form asp-controller="Administrators" asp-action="AssignLandingPagesToOffer" method="post">
            <div class="form-group">
                <vc:offers-select-options></vc:offers-select-options>
            </div>
            <div class="form-check">
                <vc:landing-pages-checkboxes></vc:landing-pages-checkboxes>
            </div>
            <div class="form-group">
                <input class="btn btn-primary text-center" type="submit" value="Assign landing pages to offer" />
            </div>
        </form>
    </div>
</div>