<div class="btn-group" role="group" aria-label="Basic example">
    <a asp-controller="Administrators" asp-action="CreateOffer" class="btn btn-primary">Create offer</a>
    <a asp-controller="Administrators" asp-action="AssignLandingPagesToOffer" class="btn btn-primary">Assign landing pages to offers</a>
    <a asp-controller="Administrators" asp-action="RegisterAffiliate" class="btn btn-primary">Register affiliate</a>
    <a asp-controller="Administrators" asp-action="RegisterLandingPage" class="btn btn-primary">Register landing Page</a>
    <a asp-controller="Administrators" asp-action="RegisterBroker" class="btn btn-primary">Register broker</a>
</div>

<hr />

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>

