<div class="btn-group" role="group" aria-label="Basic example">
    <a asp-controller="Administrators" asp-action="CreateOffer" class="btn btn-primary">Create offer</a>
    <a asp-controller="Administrators" asp-action="AssignLandingPagesToOffer" class="btn btn-primary">Assign landindg pages to offers</a>
    <a asp-controller="Administrators" asp-action="RegisterAffiliate" class="btn btn-primary">Register Affiliate</a>
    <a asp-controller="Administrators" asp-action="RegisterPartner" class="btn btn-primary">Register partner</a>
</div>

<h2>Most recent actions:</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>1</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>1</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>1</td>
        </tr>
    </tbody>
</table>

