@model GoldLeadsMedia.Web.Models.InputModels.AdministratorsRegisterBrokerInputModel

<form asp-controller="Administrators" asp-action="RegisterBroker" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="@Model.Name"></label>
        <input asp-for="@Model.Name" class="form-control" />
    </div>
    <div class="form-group">
        <input class="btn btn-primary text-center" type="submit" value="Register broker" />
    </div>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
