<div class="btn-group" role="group" aria-label="Basic example">
    <a asp-controller="Managers" asp-action="Affiliates" class="btn btn-secondary">Affiliates</a>
    <a asp-controller="Managers" asp-action="NotConfirmedLeads" class="btn btn-secondary">Not confirmed leads</a>
    <a asp-controller="Managers" asp-action="ConfirmedLeads" class="btn btn-secondary">Confirmed leads</a>
</div>