@model GoldLeadsMedia.Web.Models.ViewModels.AffiliatesAllViewModel

<h3 class="display-3 text-center">Affiliates</h3>
<hr />
<div class="col-12">
    <div class="row">
        <table class="table table-sm">
            <tr class="row-header">
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
            </tr>
            <tbody class="table-tbody">
                @foreach (var affiliate in Model.Affiliates)
                {
                    <tr class="table-row affiliate-details clickable-table-row" data-affiliate-id="@affiliate.Id">
                        <td>
                            @affiliate.Id
                        </td>
                        <td>
                            @affiliate.UserName
                        </td>
                        <td>
                            @affiliate.Email
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script src="~/js/managers/affiliates.js"></script>
}